#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app{
  align-content: center;
}

body{
  background-color: #363636;
}

h1{
  font-family: Arial, sans-serif;
  font-size: xx-large;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #242F40;
  background-color: #242F40;
  color: #CCA43B;
}

h3 {
  font-family: Arial, sans-serif;
  color: #CCA43B;
}

input {
  padding: 20px;
  margin: 5px;
  width: 40%;
  outline: none;
  border: none;
  color: white;
  background-color: #242F40;
  border-radius: 5px;
  box-shadow: none;
}
input:focus {
  border-color: #CCA43B;
  box-shadow: 0 0 2px #CCA43B;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
  border-radius: 5px;
  border: none;
  padding: 3px 10%;
  margin: 2%;
  background-color: #CCA43B;
  color: #242F40;
  font-size: large;
  font-family: Arial, serif;
}

.TodoList{
  border-radius: 5px;
  padding: 3px 20%;
  background-color: #363636;
}